<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DHI.Services.JobRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <DHI.Services.JobRunner.Properties.Settings>
            <setting name="JobTimeout" serializeAs="String">
                <value>1.00:00:00</value>
            </setting>
            <setting name="ExecutionTimerIntervalInSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxAge" serializeAs="String">
                <value>9999.00:00:00</value>
            </setting>
            <setting name="LoggerType" serializeAs="String">
                <value>DHI.Services.Logging.SimpleLogger, DHI.Services</value>
            </setting>
            <setting name="LoggerConnectionString" serializeAs="String">
                <value>[Path]DHI.Services.JobRunner.log</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CleanningTimerIntervalInMinutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ScalarRepositoryType" serializeAs="String">
                <value>DHI.Services.Provider.PostgreSQL.ScalarRepository, DHI.Services.Provider.PostgreSQL</value>
            </setting>
            <setting name="ScalarRepositoryConnectionString" serializeAs="String">
                <value>Server=localhost;Port=5432;Database=ProviderTest;User Id=postgres;Password=Solutions!</value>
            </setting>
            <setting name="ScalarServiceLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableScalarService" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerboseLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartTimeout" serializeAs="String">
                <value>00:02:00</value>
            </setting>
        </DHI.Services.JobRunner.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
